/* =============================
   Fonts
============================= */

@font-face {
  font-family: "Somar-Bold";
  src: url("./fonts/ArbFONTS-Somar-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Somar-Medium";
  src: url("./fonts/ArbFONTS-Somar-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Somar-ExtraBold";
  src: url("./fonts/ArbFONTS-Somar-ExtraBold.otf") format("opentype");
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-extrabold {
  font-family: "Somar-ExtraBold";
}

.font-bold {
  font-family: "Somar-Bold";
}

.font-regular {
  font-family: "Somar-Medium";
}
/* Hero Specific Custom Styling */

.hero-section {
  position: relative;
}

/* global.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.animation-popIn {
  animation: popIn 0.3s ease-out forwards;
}
