@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Bold";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansArabic-SemiBold";
  src: url("./fonts/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansArabic-Bold";
  src: url("./fonts/IBMPlexSansArabic-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Al-Jazeera-Arabic-Bold";
  src: url("./fonts/Al-Jazeera-Arabic Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lateef-Bold";
  src: url("./fonts/Lateef-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Almarai-Bold";
  src: url("./fonts/Almarai-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ElMessiri-SemiBold";
  src: url("./fonts/ElMessiri-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: #fdfdfd;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins-Meduim";
}
@keyframes cloud {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(100px, 0px);
  }
}
@keyframes cloud1 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-100px, 0px);
  }
}
@keyframes starRight {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-50px, 0px);
  }
}
@keyframes starLeft {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(10px, 50px);
  }
}
@keyframes startMiddle {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(10px, 30px);
  }
}
.starRight {
  animation: starRight 6s infinite ease-in-out;
  animation-direction: alternate;
}
.starLeft {
  animation: starLeft 6s infinite ease-in-out;
  animation-direction: alternate;
}
.starMiddle {
  animation: startMiddle 6s infinite ease-in-out;
  animation-direction: alternate;
}

.cloud {
  animation: cloud 10s infinite ease-in-out;
  animation-direction: alternate;
}
.cloud1 {
  animation: cloud1 10s infinite ease-in-out;
  animation-direction: alternate;
}
#lateef {
  font-family: "Lateef-Bold";
}
#arabic {
  font-family: "Al-Jazeera-Arabic-Bold";
}
#ibmsemi {
  font-family: "IBMPlexSansArabic-SemiBold";
}
#ibmbold {
  font-family: "IBMPlexSansArabic-Bold";
}
#almarai {
  font-family: "Almarai-Bold";
}
#elmessiri {
  font-family: "ElMessiri-SemiBold";
}
#englishBold {
  font-family: "Poppins-Bold";
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 5s linear infinite;
}
.project-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Updated to align details at the bottom */
  padding: 1rem; /* Add padding to the overlay */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-container:hover .overlay {
  opacity: 1;
}

.overlay-content {
  text-align: center;
}

.overlay-content h4 {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  font-family: "Lateef-Bold";
}
