@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

.playfair {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 500;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&display=swap");
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
.medium {
  font-family: "Poppins-Medium";
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
.semiBold {
  font-family: "Poppins-SemiBold";
}
@font-face {
  font-family: "Handi-Regular";
  src: url("./assets/fonts/Handi-Regular.otf");
}
.handiReg {
  font-family: "Handi-Regular";
}
@font-face {
  font-family: "Handi-Bold";
  src: url("./assets/fonts/Handi-Bold.otf");
}
.handiBold {
  font-family: "Handi-Bold";
}

html,
body {
  background-color: #fdfdfd;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@keyframes cloud {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(100px, 0px);
  }
}
@keyframes cloud1 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-100px, 0px);
  }
}
@keyframes finger {
  0% {
    transform: rotate(90deg) translate(0px, 0px);
  }
  100% {
    transform: rotate(90deg) translate(0px, -10px);
  }
}

.finger {
  animation: finger 1s infinite ease-in-out;
}

.cloud {
  animation: cloud 10s infinite ease-in-out;
  animation-direction: alternate;
}
.cloud1 {
  animation: cloud1 10s infinite ease-in-out;
  animation-direction: alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-button {
  background: linear-gradient(to right, #121212, #2e2e2e);
  color: #efefef;
}

.custom-button:hover {
  background: linear-gradient(to right, #2e2e2e, #121212);
  color: #efefef;
}
.rotate-animation {
  animation: rotate 5s linear infinite;
}
.project-container {
  position: relative;
  overflow: hidden;
}
.icon-link {
  padding: 8px;
  background: linear-gradient(to bottom, #1a5b21, #063e0c);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-container:hover .overlay {
  opacity: 1;
}

.overlay-content {
  text-align: center;
}

.overlay-content h4 {
  margin: 0;
  font-size: 1rem;
  color: white;
  font-family: "Al-Jazeera-Arabic-Bold";
}
.loader {
  color: #063e0c;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}
