@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlexSansArabic-Medium";
  src: url("./assets/fonts/IBMPlexSansArabic-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansArabic-SemiBold";
  src: url("./assets/fonts/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansArabic-Bold";
  src: url("./assets/fonts/IBMPlexSansArabic-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Directive Four";
  src: url("./assets/fonts/Directive\ Four.otf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: #fdfdfd;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@keyframes cloud {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(100px, 0px);
  }
}
@keyframes cloud1 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-100px, 0px);
  }
}
@keyframes finger {
  0% {
    transform: rotate(90deg) translate(0px, 0px);
  }
  100% {
    transform: rotate(90deg) translate(0px, -10px);
  }
}

.finger {
  animation: finger 1s infinite ease-in-out;
}

.cloud {
  animation: cloud 10s infinite ease-in-out;
  animation-direction: alternate;
}
.cloud1 {
  animation: cloud1 10s infinite ease-in-out;
  animation-direction: alternate;
}

.lora {
  font-family: "Lora-Medium";
}

.ibmmed {
  font-family: "IBMPlexSansArabic-Medium";
}

.ibmsemi {
  font-family: "IBMPlexSansArabic-SemiBold";
}

.ibmbold {
  font-family: "IBMPlexSansArabic-Bold";
}
.directive {
  font-family: "Directive Four";
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.custom-button {
  background: linear-gradient(to right, #088f4c, #26cf7b);
  color: #efefef;
}

.custom-button:hover {
  background: linear-gradient(to right, #26cf7b, #088f4c);
  color: #efefef;
}
.rotate-animation {
  animation: rotate 5s linear infinite;
}
.project-container {
  position: relative;
  overflow: hidden;
}
.icon-link {
  padding: 8px; /* Adjust the padding as needed */
  background: linear-gradient(to bottom, #1a5b21, #063e0c);
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for a lifted effect */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Updated to align details at the bottom */
  padding: 1rem; /* Add padding to the overlay */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-container:hover .overlay {
  opacity: 1;
}

.overlay-content {
  text-align: center;
}

.overlay-content h4 {
  margin: 0;
  font-size: 1rem;
  color: white;
  font-family: "Al-Jazeera-Arabic-Bold";
}
/* HTML: <div class="loader"></div> */
.loader {
  color: #063e0c;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}
