/* =============================
   Fonts
============================= */

@font-face {
  font-family: "Somar-Bold";
  src: url("./fonts/ArbFONTS-Somar-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Somar-Medium";
src: url("./fonts/ArbFONTS-Somar-Bold.otf") format("opentype"); 
}


.font-bold {
  font-family: "Somar-Bold";
}

.font-regular {
    font-family: "Somar-Medium";
}
/* Hero Specific Custom Styling */

.hero-section {
  position: relative;
}
