@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlexArabic";
  src: url("/ArbFONTS-PNU-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexArabic-SemiBold";
  src: url("/ArbFONTS-PNU-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexArabic-Bold";
  src: url("/ArbFONTS-PNU-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Outside any @layer so it has full specificity */
*,
*::before,
*::after {
  font-family: "IBMPlexArabic", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.text-semiBold {
  font-family: "IBMPlexArabic-SemiBold", sans-serif;
}
.text-bold {
  font-family: "IBMPlexArabic-Bold", sans-serif;
}

.container {
  width: 100%; /* Take full screen width */
  max-width: 1440px; /* Don't go wider than this */
  margin-left: auto; /* Center it */
  margin-right: auto; /* Center it */
  padding-left: 24px;
  padding-right: 24px;
}
