@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ArbFONTS-PNU-Light";
  src: url("/ArbFONTS-PNU-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ArbFONTS-PNU-Regular";
  src: url("/ArbFONTS-PNU-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ArbFONTS-PNU-Medium";
  src: url("/ArbFONTS-PNU-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  font-family: "ArbFONTS-PNU-Regular";
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.text-light, .font-light {
  font-family: "ArbFONTS-PNU-Light";
}

.text-medium, .font-medium {
  font-family: "ArbFONTS-PNU-Regular";
}
.text-bold, .font-bold {
  font-family: "ArbFONTS-PNU-Medium";
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee-rtl 20s linear infinite;
}
@keyframes marquee-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
